@font-face {
    font-family: "ObjectSans";
    src: url("/fonts/ObjectSans-Heavy.ttf");
    font-style: black;
    font-weight: 700;
    font-display: swap;
  }

@font-face {
    font-family: "ObjectSans";
    src: url("/fonts/ObjectSans-Bold.ttf");
    font-style: bold;
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: "ObjectSans";
    src: url("/fonts/ObjectSans-Regular.ttf");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "ObjectSans";
    src: url("/fonts/ObjectSans-Thin.ttf");
    font-style: light;
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: "Cirka";
    src: url("/fonts/Cirka-Regular.ttf");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Cirka";
    src: url("/fonts/Cirka-Light.ttf");
    font-style: light;
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: "Cirka";
    src: url("/fonts/Cirka-Bold.ttf");
    font-style: bold;
    font-weight: 600;
    font-display: swap;
}
